@charset "UTF-8";

* {
  box-sizing: border-box;

}


#sync2 {
	margin-top:20px;
}

#sync2 .owl-item {
	width:10px!important;
	height:10px;
	background:#7d81a3;
	border-radius:50%;
	margin:0 6px;
}

#sync2 .owl-item.synced {
	background:#1c277a;
}

#sync2 .owl-wrapper {
	width:auto!important;
	display:inline-block!important;
}

.owl-controls {
	display:none!important;
}

.owl-controls.material-controls {
	display:block!important;
}

.owlwrapper {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50.5%,-50.5%);
	margin:0 auto;
	text-align:center;
	width:703px;
}

div.owl-next,div.owl-prev {
	visibility:hidden;
}

.owl-item {
	border-radius:30px;
	background-color:#1b277d;
  min-height: 650px !important;
}

.item {
	min-height:600px;
}

.item-image-container {
	padding-left:20%;
	padding-right:20%;
}

.owl-item img {
	width:78%;
}

.owl-prev,.owl-next {
	position:absolute!important;
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
	background:#1b277d;
}

.owl-theme .owl-dots .owl-dot span {
	background:rgba(27,39,125,0.4);
}

button {
	z-index:99999999999!important;
	color:grey!important;
}

.slide-text {
	margin-top:5%;
	margin-bottom:5%;
}

.slide-text h2 {
	color:#fff;
	font-size:22px;
	margin:0 0 5px;
}

.slide-text p {
	color:#fff;
	font-size:18px;
	font-weight:200;
	margin:0 0 50px;
}


body {
  color: #fff;
  margin: 0;
  font-family: 'Noto Sans JP', "sans-serif", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "Meiryo UI","ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #002266;
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */

}



.cp_ipcheck {
  padding: 20px 0;
  width: 200px;
  text-align: left;
  position: relative;
}
.cp_ipcheck input {
	display: none;
}
.cp_ipcheck label {
	position: relative;
	display: block;

	padding-right: 30px;
	cursor: pointer;
  font-size: 1rem;
}
.cp_ipcheck input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.cp_ipcheck input[type='checkbox'] + label:before,
.cp_ipcheck input[type='checkbox'] + label:after {
	position: absolute;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7px;
	content: '';
padding: 8px 0 0 6px;
}
.cp_ipcheck input[type='checkbox'] + label:before {
	right: 0;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e3e1;
	border-radius: 30px;
	background: #ffffff;
}
.cp_ipcheck input[type='checkbox'] + label:after {
	right: 29px;
	width: 30px;
	height: 30px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #bdbdbd;
}
.cp_ipcheck input[type='checkbox']:checked + label:after {
	right: 0;
	background: #00b111;
  content: "";
  font-family:"Font Awesome 5 Free";
  padding: 6px 0 0 8px;
  color: #ffff00;
}




























header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 25px;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

.sm {
  display: none;
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 0.30s;
  }

  .icon span:nth-of-type(1) {
    top: 28px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 28px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;
  }

  a {
    text-align: center; 
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
}






dl{

  padding:10px;
  width:100%;
}

dt{
  color:#028aff;
  font-weight:bold;
  padding:0 10px 0 0;
  width:120px;
  float:left;
  margin-bottom:7px;
}

dd{
  color:#fff;
  margin-bottom:7px;

}

dl::after {
    content: '';
    display: block;
    clear: both;
}












.side-menu{
  position: fixed;
  top: 50%;
  right: -200px;
  width: 200px;
  background-color: #f1f1f1aa;
  transition: .4s linear;
}

.side-menu.active{
  right: 0;
}

.side-menu a{
  display: block;
  padding: 10px 10px;
  color: #333;
  font-size: 20px;
  transition: .4s linear;
}

.side-menu a i{
  width: 40px;
  height: 20px;
  font-size: 24px;
  text-align: center;
}

.side-menu a:hover{
  background-color: #333;
  color: #f1f1f1;
}

.toggle-btn{
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 60px;
  background: #333;
  color: #f1f1f1;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}



.about{

font-size: 30px;

}







/* container */
.wrapper{
    width:100%;

}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
    padding:50px;
}
.wrapper .text .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;

}


.wrapper .text .heading2{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;


    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

.wrapper .text .heading2:hover{
    background: #0066DB;
}


/* Loginボタンのスタイル */
.box input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 1.00s;
    cursor: pointer;
}
 
/* Loginボタンをマウスオーバーしたときのスタイル */
.box input :hover{
    background: #2ecc71;



}






.copyright{

font-size: 30px;
font-family: "Meiryo UI";

}






















/*----------------------------*\
        下記から長文注意！！ 
\*-----------------------------*/








nav {
	background-color:#606799;
}

.owl-prev {
	top:42%;
	left:-70px;
}

.owl-next {
	top:42%;
	right:-70px;
}

.btn-go-container {
	position:absolute;
	bottom:5em;
	left:50%;
	z-index:10;
	transform:translateX(-50%);
}

i {
	color:#1c277a!important;
}

.btn-1-text-line {
	margin-top:2em;
}

.btn-2-text-line {
	margin-top:1em;
}

@media (min-width: 870px) {
	.owl-item img {
		width:auto;
	}
}

@media (max-width: 869px) {
	.owl-prev {
		left:-19px;
	}
	
	.owl-next {
		right:-19px;
	}
}

@media (max-width: 809px) {
	.owlwrapper {
		width:100%;
	}
}

@media (max-width: 809px) {
	.slide-text h2 {
		font-size:17px;
	}
	
	.slide-text p {
		font-size:13px;
		margin:0 0 15px;
	}
}

@media (max-width: 869px),(max-height: 700px) {
	html {
		background-color:#1b277d;
	}
	
	.container {
		width:100%;
	}
	
	.owlwrapper {
		width:100%;
		height:100%;
		margin:auto;
	}
	
	.owl-carousel {
		height:100%;
	}
	
	.owl-stage-outer {
		height:100%;
	}
	
	.owl-stage {
		height:100%;
	}
	
	.owl-prev {
		display:none;
	}
	
	.owl-next {
		display:none;
	}
	
	.owl-item {
		border-radius:0;
		height:100%;
    min-height: 0px !important;
	}
	
	.owl-item img {
		border-radius:0;
	}
	
	.btn-go-container {
		bottom:3em;
	}
	
	.item-image-container {
		padding:0;
	}
	
	.owl-dots {
		position:absolute;
		bottom:.5em;
		left:50%;
		transform:translateX(-50%);
	}
	
	.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
		background:#fff;
	}
	
	.owl-theme .owl-dots .owl-dot span {
		background:rgba(255,255,255,0.4);
	}
}

@media (orientation: landscape) and (max-height: 700px) {
	.item {
		height:100%;
		min-height:0;
	}
	
	.item-image-container {
		display:inline-block;
		width:50%;
		height:100%;
	}
	
	.slide-text {
		display:inline-block;
		vertical-align:top;
		margin-top:10%;
		width:49%;
	}
	
	.btn-go-container {
		left:75%;
		bottom:7em;
	}
	
	.owl-dots {
		left:75%;
		bottom:4em;
	}
	
	img {
		object-fit:contain;
		max-height:100%;
	}
}

@media (orientation: landscape) and (max-height: 270px) {
	.slide-text {
		margin-top: 5%;
	}
}










































