@charset "utf-8";
/* container */
.wrapper{
    width:100%;

}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
    padding:50px;
}
.wrapper .text .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #333;

}


.wrapper .text .heading2{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #333;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: #151515;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

.wrapper .text .heading2:hover{
    background: #0066DB;
    color: #fff;
}

.fadeinsection {
	overflow : hidden;
	padding-bottom : 3em;
	}

/* 画面外にいる状態 */
.fadein {
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
	margin : 2%;
	padding : 0.5em;
	text-align : center;
	box-sizing : border-box;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	background-color: #F2F2F2;
	border-radius: 30px;
	opacity : 0;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}
/* 2つ目の要素に200msのdelayをかける */
#effect2 > div .fadein:nth-of-type(2) {
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
	}
/* 3つ目の要素に400msのdelayをかける */
#effect2 > div .fadein:nth-of-type(3) {
	-moz-transition-delay:400ms;
	-webkit-transition-delay:400ms;
	-o-transition-delay:400ms;
	-ms-transition-delay:400ms;
	}

  @media screen and (max-width:500px) {
    .fadein h2 {
      font-size: 100%;
    }

    .fadein p {
      font-size: 90%;
    }
    #container {
      padding: 0px;
    }
