* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #141414;
    font-family: 'IBM Plex Sans JP';
    color: #fff;
    padding-top: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: #141414;
}

::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b7b7b7;
}

::-webkit-scrollbar-thumb:active {
    background-color: #525252;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:visited {
    color: #fff
}

@media screen and (max-width:960px) {
    h3 {
        font-size: 100%;
    }
}

.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width:960px) {
    body {
        margin: 0;
        background-color: #141414;
        font-family: 'IBM Plex Sans JP';
        color: #fff;
        padding-top: 60px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }
}

code,
kbd,
pre,
samp {
    font-family: 'IBM Plex Sans JP';
}

.notifloading {
    position: fixed;
    top: 90px;
    right: 0;
    height: 50px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #303030;
    z-index: 2000;
    justify-content: center;
    font-size: 3vh;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    transition: 1s;
    opacity: 0;
    transform: translateX(320px);
    box-shadow: -1px 1px 20px #000000;
}

.notifloadingshow {
    opacity: 1;
    transform: translateX(0px);
}

.notifloadinghiding {
    opacity: 0;
    transform: translateX(0px);
}

.notifloading .loader,
.loader::after {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.notifloading .loader {
    margin-bottom: 52.5px;
    border-top: 2.5px solid rgba(255, 255, 255, 0.2);
    border-right: 2.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.2);
    border-left: 2.5px solid #ffffff;
}

.loading {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a1a1a185;
    z-index: 1000;
    justify-content: center;
    font-size: 3vh;
    transition: 1s;
    opacity: 0;
}

.loadingshow {
    transition: 0s;
    opacity: 1;
}

.loadinghiding {
    opacity: 0;
}

.loadinghide {
    display: none;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 50px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading span {
    margin-bottom: 50px;
}

.sidemenu {
    background: #141414;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 2px 0px 10px 1px #0e0e0e;
    border: 2px #00c55d solid;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px;
    transition: .5s;
}

.sidemenu .header__hamburger {
    width: 40px;
    height: 30px;
    padding-right: 0;
    display: block;
}

.sidemenu p {
    font-size: x-large;
}

.sidemenu .lefttorightflex {
    margin-top: 5%;
}

.lefttorightflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidemenurelative {
    position: relative;
    bottom: 0;
}

.sidemenu.active {
    z-index: 0;
}

.sidemenuheadernavback {
    background: #000000ab;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: .5s;
}

.sidemenuheadernavback.active {
    opacity: 1;
    z-index: 10;
}

.sidemenuheadernav {
    background: #000000;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -5%;
    z-index: 10;
    box-shadow: 2px 0px 10px 1px #0e0e0e;
    border: 2px #00c55d solid;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px 15px 30% 15px;
    opacity: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* æŠ˜è¿”ã—æŒ‡å®š */
    gap: 5%;
    /* ä½™ç™½ */
    font-size: x-large;
}

.sidemenuheadernav.active {
    opacity: 1;
    left: 0;
}

.sidemenuheadernav .lefttorightflex {
    width: 100%;
    margin-top: 5%;
}

.sidemenuheadernav .header__hamburger {
    width: 40px;
    height: 30px;
    padding-right: 0;
    display: block;
}

.sidemenu select {
    margin-top: 5%;
    width: 100%;
    border: 2px #fff solid;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    padding: 5px 5px 7px 5px;
    cursor: pointer;
}

.sidemenu option {
    width: 100%;
    border-radius: 0px;
    color: #ffffff;
    background: #191919;
    text-align: left;
}

.header {
    background: #2a2a2a;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 10px 1px #0e0e0e;
    transition: .5s;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative
}

.header__title {
    padding: 0 0 0 10px;
}

.header__title img {
    display: block;
    width: auto;
    height: 40px
}

.headeratag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5px;
    font-size: smaller;
    background: linear-gradient(90deg, #008aff, #00abff, #01d4d7, #01f1a3);
    background: -webkit-linear-gradient(0deg, #008aff, #00abff, #01d4d7, #01f1a3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 960px) {
    .headeratag {
        font-size: 0;
    }
}

.headeratag img {
    margin-bottom: 2.5px;
    height: 50px;
    margin-right: 5px;
}

.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #2a2a2a;
    transition: ease .4s
}

@media screen and (min-width:960px) {
    .header__nav {
        position: static;
        transform: initial;
        background-color: inherit;
        height: inherit;
        display: flex;
        justify-content: end
    }
}

@media screen and (max-width:960px) {
    .header__nav {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 95vh;
        margin-top: 60px;
        transform: translateX(100%);
        background-color: #2a2a2a;
        transition: ease .4s
    }
}

@media screen and (min-width:960px) {
    .nav__items {
        width: 100%;
        display: flex;
        align-items: center;
        height: initial;
        justify-content: space-evenly
    }
}

.nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0
}

.nav-items__item a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    text-decoration: none
}

@media screen and (min-width:960px) {
    .nav-items {
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0)
    }

    .nav-items__item a {
        color: #fff;
    }
}

.nav-items__item:last-child a {
    margin-bottom: 0
}

@media screen and (min-width:960px) {
    .nav-items__item a {
        margin-bottom: 0
    }
}

.header__hamburger {
    width: 48px;
    height: 50px;
    padding-right: 10px
}

.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999
}

@media screen and (min-width:960px) {
    .hamburger {
        display: none
    }
}

.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease .4s;
    display: block
}

.hamburger span:nth-child(1) {
    top: 0
}

.hamburger span:nth-child(2) {
    margin: 8px 0
}

.hamburger span:nth-child(3) {
    top: 0
}

.header__nav.active {
    transform: translateX(0)
}

.hamburger.active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg)
}

.hamburger.active span:nth-child(2) {
    opacity: 0
}

.hamburger.active span:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg)
}

.combobox {
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 2.5px 10px;
    position: relative;
}

.comboboxcont {
    position: absolute;
    background-color: #2a2a2a;
    border: 1px #fff solid;
    border-radius: 5px;
    left: 0;
    padding: 2.5px 10px;
    margin-top: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    width: 100%;
}

.comboboxcont::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.comboboxhide {
    display: none;
}

.Osirase {
    background: linear-gradient(180deg, #ffffff00 0%, #141414 60%), url(../image/PuzzleLinkerLogo.png);
    padding: 60px 0;
}

.mainTitlePC {
    display: block;
    font-size: 300%;
}

.mainTitleSP {
    display: none;
    width: 70%;
    font-size: 2.5em;
}

@media screen and (max-width:960px) {
    .mainTitlePC {
        display: none;
    }

    .mainTitleSP {
        display: block;
    }
}

.Osirase h1 {
    font-family: 'Noto Sans JP';
    color: #FFF;
    width: 80%;
    margin: 0 auto;
}

.OsiraseContainer {
    height: 100%;
    color: #fff;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    background: #191919;
    width: 80%;
    margin: 0 auto 10px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HidariNoColorBarYellow {
    border: 0px solid #ffc600;
}

.HidariNoColorBarGray {
    border: 0px solid #7c7c7c;
}

.HidariNoColorBarRed {
    border: 0px solid #be0000;
}

.OsiraseContainer img {
    height: 5%;
    width: 5%;
    padding: 0.5%;
    margin-right: 2%;
}

.topcontainer {
    position: relative;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 0;
    padding: 0 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Noto Sans JP';
    color: #fff;
}

.topcontainersidemenuin {
    justify-content: flex-start;
}

#container {
    position: relative;
    top: 0;
    width: 85%;
    height: fit-content;
    z-index: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP';
    color: #fff;
}

.categorycont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5%;
}

.Categorycontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Category {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

@media screen and (max-width:960px) {
    .HidariNoColorBarYellow {
        border: 5px solid #ffc600;
    }

    .HidariNoColorBarGray {
        border: 5px solid #7c7c7c;
    }

    .HidariNoColorBarRed {
        border: 5px solid #be0000;
    }

    .OsiraseContainer img {
        display: none;
    }

    .OsiraseContainer {
        border-radius: 5px;
    }

    .categorycont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 5%;
    }
}

.Nowplace {
    width: 80%;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: flex-start;
}

.Nowplace h2 {
    font-size: medium;
    color: #fff;
    font-family: 'Noto Sans JP';
}

.Nowplace a {
    font-size: medium;
    color: #fff;
    font-family: 'Noto Sans JP';
    color: #0099ff;
}

.ProcateTitlePC {
    display: block;
    font-size: 200%;
    margin-bottom: 25px;
}

.ProcateTitleSP {
    display: none;
    font-size: 1.5em;
    margin-bottom: 25px;
}

@media screen and (max-width:960px) {
    .ProcateTitlePC {
        display: none;
    }

    .ProcateTitleSP {
        display: block;
    }
}

.ProductCategory {
    height: 100px;
    width: 35%;
    background: linear-gradient(115deg, #fff0 25%, #191919 25%), url(../image/ErrorCodeButton.png);
    background-size: contain;
    background-position-x: left;
    overflow: hidden;
    box-shadow: 5px 5px 15px -5px #00000096;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductCategory h2 {
    margin-bottom: 7.5px
}

.GameCate {
    background: linear-gradient(115deg, #fff0 25%, #191919 25%), url(../image/GameIconBackground.png);
    background-size: contain;
    background-position-x: left;
}

.AutoUpdaterCate {
    background: linear-gradient(115deg, #fff0 25%, #191919 25%), url(../image/AutoUptaderTextLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
}

@media screen and (max-width:960px) {
    .ProductCategory {
        height: 100px;
        width: 100%;
        border-radius: 10px;
    }
}

#supportcont {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

#supportcont h2 {
    font-size: 275%;
    font-family: 'Noto Sans JP';
}

.supportcontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
}

.subarticle {
    width: 20%;
    margin-top: 25px;
    font-family: 'Noto Sans JP';
}

.mainarticle {
    width: 70%;
    margin-top: 25px;
    font-family: 'M PLUS 1p', sans-serif;
}

.mainarticle img {
    width: 100%;
    margin: 25px 0;
}

.mainarticle a {
    color: #51bfff;
    text-decoration: underline;
}

.article {
    background-color: #333;
    padding: 5px;
    margin: 5px 0;
    font-family: 'Noto Sans JP';
}

@media screen and (max-width:960px) {
    .supportcontainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .subarticle {
        width: 100%;
        margin-top: 25px;
        font-family: 'Noto Sans JP';
    }

    .mainarticle {
        width: 100%;
        margin-top: 25px;
        font-family: 'M PLUS 1p', sans-serif;
    }
}

.nowstatus {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#nowstatusmark {
    border-radius: 100%;
    margin-left: 5.5px;
    margin-bottom: 2.5px;
}

.nowstatus h4 {
    color: #fff;
    margin-left: 5px;
}

.nowstatus a {
    color: #fff;
    margin-left: 5px;
}

@media screen and (max-width:960px) {
    .nowstatus h2 {
        font-size: 100%;
        margin-left: 5%
    }
}

@media screen and (max-width:375px) {
    .nowstatus h2 {
        font-size: 95%
    }
}

.allok {
    background-color: rgb(0 197 93);
    padding: 5px
}

.allproblem {
    background-color: #c50000;
    padding: 5px
}

.allupdate {
    background-color: rgb(221 163 0);
    padding: 5px;
}

.pescadogamesend {
    background-color: #313131;
    padding: 5px
}

.accordion-area {
    list-style: none;
    width: 100%;
    margin: 0 auto
}

.accordion-area li {
    margin: 10px 0
}

.accordion-area section {
    border: 1px solid #ccc;
    position: relative
}

.title {
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
    text-align: left;
    width: 100%;
    color: #fff;
}

.status {
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    padding: 3% 3% 3% 0;
    transition: all .5s ease;
    text-align: right;
    right: 0;
    width: 40%
}

.status h3 {
    font-size: 1rem;
    font-weight: 400
}

.statusok {
    color: rgb(0 197 93)
}

.statusproblem {
    color: #c50000
}

.statusupdate {
    color: rgb(221 163 0)
}

.statusstop {
    color: #313131
}

.title::before,
.title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333
}

.title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg)
}

.title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg)
}

.title.close::before {
    transform: rotate(45deg)
}

.title.close::after {
    transform: rotate(-45deg)
}

.box {
    display: flex;
    margin: 0 3% 3%;
    padding: 3%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    overflow-wrap: normal;
    word-break: keep-all;
}

.allservicecont {
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 0;
    height: 34px
}

.allservicecontbottom {
    border: 1px solid #ccc
}

.allservicename {
    position: absolute;
    width: 60%;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 5px 0 5px 5px;
    color: #fff;
}

.allservicestatus {
    position: absolute;
    width: 40%;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    right: 0;
    padding: 5px 5px 5px 0
}

.allservicestatusproblem {
    right: 30px
}

.problempagebutton {
    position: absolute;
    background-color: #8d8d8d;
    border-radius: 20px;
    height: 25px;
    width: 25px;
    right: 0;
    padding-top: 1.5px;
    margin: 4px 5px 5px 0;
    cursor: pointer;
    display: none
}

.problempagebuttonshow {
    display: block
}

.boxcont {
    position: relative
}

.boxcont h2 {
    position: absolute;
    left: 0;
    top: 0
}

.toptitlediv {
    width: 80%;
    margin: 0 auto;
    font-family: 'Noto Sans JP';
    color: #fff;
}

.toptitle {
    font-size: 300%;
    margin: 10px 0;
    margin-top: 50px;
}

.SearchCont {
    color: #fff;
    font-family: 'Noto Sans JP';
    margin: 25px auto;
    width: 80%;
}

.SearchCont input {
    color: #000;
    font-family: 'Noto Sans JP';
    width: 100%;
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 0 30px;
    margin-bottom: 10px;
}


/* footer */

#footer {
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    background: #2a2a2a;
    padding: 0 10%;
    margin-top: 0;
}

@media screen and (max-width:960px) {
    #footer {
        padding: 0 0;
    }
}

#footer .footer-r {
    width: 70%;
    padding: 40px;
    color: #fff;
    display: flex;
}

#footer .footer-link {
    font-size: 0.9rem;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#footer .footer-linksmall {
    font-size: 0.9rem;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    width: 170px;
}

#footer .footer-link a {
    color: #fff;
    text-align: left;
    text-decoration-line: none;
}

.linktitle:after {
    background-color: #ffffff;
    background: linear-gradient(90deg, #fff, #ffffff00);
    border-radius: 5px;
    content: "";
    display: block;
    height: 5px;
}

#footer .footer-link li:last-child a::after {
    content: '';
    padding: 0;
}

#borderfooter {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding: 20px 55px;
}

.border {
    background-color: #ffffff21;
    height: 2.5px;
    width: 100%;
}

#footer .footer-l {
    width: 30%;
    color: #FFF;
}

#footer .footer-l .footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
}

#footer .footer-l .footer-contact-area h2 {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
    letter-spacing: 0.1em;
}

#footer .footer-l .footer-contact-area a {
    color: #FFF;
    font-size: 1.3rem;
    padding: 0 0 20px 0;
    display: inline-block;
}

#footer #copyrightandsns {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.socialnetworkbutton {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 0 0 15px; */
}

#youtubelogobutton {
    width: 50px;
    transform: scale(0.05);
    margin-left: 20px;
}

#twitterlogobutton {
    width: 50px;
    transform: scale(0.035);
    margin-left: 20px;
}

#footer #copyrightandsns small a {
    color: #fff;
}

#footer #URL {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    padding: 20px;
}

#footer #URL li {
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width:1045px) {

    #footer .footer-r,
    #footer .footer-l {
        width: 100%;
    }

    #footer .footer-l .footer-contact,
    #footer #copyrightandsns {
        height: 80px;
    }

    #footer .footer-r .map-area h2 {
        width: 5%;
    }

    #footer .footer-link {
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    #footer .footer-r {
        padding: 80px 30px;
    }

    #footer .footer-r .map-area {
        margin: 0;
    }

    #footer .footer-link {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 0 0 30px;
    }

    #footer .footer-linksmall {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 0 0 30px;
    }

    #footer .footer-l .footer-contact {
        display: none;
    }

    #footer .footer-r .map-area h2 {
        width: 100%;
        height: inherit;
        margin: 0 0 50px 0;
        -ms-writing-mode: lr-tb;
        -webkit-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
    }

    #footer .footer-r .map-address {
        width: 48%;
    }

    #footer #page-top {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:950px) {
    #footer #URL {
        display: block;
        height: 315px;
    }
}