.header {
    background: #ffffff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 10px 1px #00000040;
    transition: .5s;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative
}

.header__title {
    padding: 0 0 0 10px;
}

.header__title img {
    display: block;
    width: auto;
    height: 40px
}

.headeratag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5px;
    font-size: smaller;
    background: linear-gradient(90deg, #008aff, #00abff, #01d4d7, #01f1a3);
    background: -webkit-linear-gradient(0deg, #008aff, #00abff, #01d4d7, #01f1a3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 960px) {
    .headeratag {
        font-size: 0;
    }
}

.headeratag img {
    margin-bottom: 2.5px;
    height: 50px;
    margin-right: 5px;
}

.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s
}

@media screen and (min-width:1366px) {
    .header__nav {
        position: static;
        transform: initial;
        background-color: inherit;
        height: inherit;
        display: flex;
        justify-content: end
    }
}

@media screen and (max-width:1366px) {
    .header__nav {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        background-color: #fff;
        transition: ease .4s;
        z-index: -1;
    }
}

@media screen and (min-width:1366px) {
    .nav__items {
        width: 100%;
        display: flex;
        align-items: center;
        height: initial;
        justify-content: space-evenly
    }
}

.nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

.nav-items__item a {
    color: #656565;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    text-decoration: none
}

.nav-items__item a:visited {
    color: #656565;
}

@media screen and (min-width:1366px) {
    .nav-items {
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0)
    }

    .nav-items__item a {
        color: #656565;
    }

    .nav-items__item a:visited {
        color: #656565;
    }
}

.nav-items__item:last-child a {
    margin-bottom: 0
}

@media screen and (min-width:1366px) {
    .nav-items__item a {
        margin-bottom: 0
    }
}

.header__hamburger {
    width: 48px;
    height: 50px;
    padding-right: 10px
}

.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999
}

@media screen and (min-width:1366px) {
    .hamburger {
        display: none
    }
}

.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #2a2a2a;
    position: relative;
    transition: ease .4s;
    display: block
}

.hamburger span:nth-child(1) {
    top: 0
}

.hamburger span:nth-child(2) {
    margin: 8px 0
}

.hamburger span:nth-child(3) {
    top: 0
}

.header__nav.active {
    transform: translateX(0)
}

.hamburger.active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg)
}

.hamburger.active span:nth-child(2) {
    opacity: 0
}

.hamburger.active span:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg)
}

.headershow {
    top: 0;
}