@charset "utf-8";

html, body {
	overflow-x: hidden;
}

h1 {
	color: #333;
}

h2 {
	color: #a5bcff;
}

h3 {
	color: #333;
}

h4 {
	color: #333;
}

h5 {
	color: #333;
}

h6 {
	color: #333;
}

#container {
	position: relative;
	z-index: 1;
	background: #F4F5F7;
	padding: 100px 50px;
	text-align: center;
}

/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	bottom:10px;
    /*全体の高さ*/
	height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    /*描画位置*/
	position: absolute;
	left:-15px;
	top: -15px;
    /*テキストの形状*/
	color: #fff;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top: 0;
    /*線の形状*/
	width: 1px;
	height: 30px;
	background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 1.4s ease-in-out infinite;
	opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}

/* 左から */

.fadeLeft {
	animation-name: fadeLeftAnime;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes fadeLeftAnime {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.maintextright {
	margin: 0 0 0 100px;
	font-size: 2vh;
}

.subtextright {
	margin: 50px 0 0 auto;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	text-orientation: upright;
	height: 20em;
	letter-spacing: 0.1em;
	padding: 0 200px;
}

#Okyakusama {
	position: relative;
	padding: 0 70px;
}

#Okyakusama h2 {
	position: absolute;
	right: 45%;
	z-index: 2;
	font-size: 5vh;
}


.Okyakusama {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.Logo-img {
	background: url("https://www.pescadogames.com/assets/icons/PGBlueLogo-toumei.png") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 48%;
}

@media screen and (max-width:430px) {
	.Logo-img {
		height: 20vh;
	}
}

@media screen and (max-width:800px) {
	#Okyakusama {
		padding: 0 30px;
	}

		#Okyakusama h2 {
			position: relative;
			right: inherit;
			top: 40px;
		}

		.subtextright {
			margin: 50px 0 0 0;
			-ms-writing-mode: lr-tb;
			-webkit-writing-mode: horizontal-tb;
			writing-mode: horizontal-tb;
			text-orientation: upright;
			height: 0px;
			letter-spacing: 0.1em;
			padding: 0 0;
			text-align: center;
		}

	.Logo-img {
		width: 100%;
	}

	.Logo-img {
		height: 40vh;
	}
}

#History {
	position: relative;
	padding: 0 70px;
}

#History h2 {
	position: absolute;
	right: 45%;
	z-index: 2;
	font-size: 5vh;
}


.History {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.aniv-img {
	background: url("https://www.pescadogames.com/assets/image/pg3th.png") no-repeat center;
	background-size: cover;
	height: 50vh;
	width: 48%;
}

@media screen and (max-width:430px) {
	.Logo-img {
		height: 20vh;
	}
}

@media screen and (max-width:800px) {
	#History {
		padding: 0 30px;
	}

		#History h2 {
			position: relative;
			right: inherit;
			top: 40px;
		}

	.aniv-img {
		width: 100%;
	}

	.aniv-img {
		height: 40vh;
	}
}

.contactarea {
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}

.content_class {
  display: none;
  width: 100%;
}

input:checked + .tab_class + .content_class {
  display: block;
}
