@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  background-color: 191919;
  text-align: center;
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
  padding-bottom: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-image: linear-gradient(125deg,#00a56a,#0078a5);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 25px;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

.sm {
  display: none;
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 1s;
  }

  .icon span:nth-of-type(1) {
    top: 28px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 28px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;
  }

  a {
    text-align: center; 
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
}

li {
	list-style-type:none;		/*リストマーカー無しにする*/
}

table {
  border-collapse: collapse;
  margin-right: 10%;
}
th, td {
  padding: 5px 15px; /* 上下 左右 */
  border: solid 1px #333; /* 線の種類 太さ 色 */
}

.header {
	height: 10%;
}

.center{
text-align: center;
}

.inline {
  display: inline;
 }

#centerlogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
  width: 600px;
  height: calc(600px * 0.5625);
  margin-left: 5%;
  position: relative;
  overflow: hidden;
}

.carousel .carousel-area {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.carousel .carousel-area .carousel-list {
  width: 600px;
  height: calc(600px * 0.5625);
  margin-right: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel .carousel-area .carousel-list:nth-child(1) {
  background-image: url(https://www.pescadogames.ml/assets/services/Android1080720.png);
}

.carousel .carousel-area .carousel-list:nth-child(2) {
  background-image: url(https://www.pescadogames.ml/assets/services/PuzzleLinker0.png);
}

.carousel .carousel-area .carousel-list:nth-child(3) {
  background-image: url(https://www.pescadogames.ml/assets/services/PuzzleLinker1.png);
}

.carousel-img {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: 1%;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.carousel .arrow-wrap {
  width: 96%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .arrow-wrap .arrow-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(113, 135, 245, 0.8);
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.carousel .arrow-wrap .arrow-btn:focus {
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
}

.carousel .arrow-wrap .arrow-btn:hover {
  background-color: #334fd8;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
}

.carousel .arrow-wrap .arrow-left {
  position: relative;
}

.carousel .arrow-wrap .arrow-left button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%) rotate(-45deg);
          transform: translate(-30%, -50%) rotate(-45deg);
}

.carousel .arrow-wrap .arrow-right {
  position: relative;
}

.carousel .arrow-wrap .arrow-right button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -50%) rotate(135deg);
          transform: translate(-70%, -50%) rotate(135deg);
}

.carousel .pagination {
  width: 16%;
  margin: 5% auto 0;
  position: absolute;
  bottom: 3%;
  left: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carousel .pagination .pagination-circle {
  width: 10px;
  height: 10px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: rgba(10, 10, 10, 0.5);
}

.carousel .pagination .pagination-circle.target {
  background-color: rgba(10, 10, 100, 0.8);
}

@media screen and (max-width: 600px) {
  .carousel {
    width: 300px;
    height: calc(300px * 0.5625);
  }
  .carousel .carousel-area .carousel-list {
    width: 300px;
    height: calc(300px * 0.5625);
    margin-right: 0;
  }
}

.banner_outline{
  width:530px;
  height:130px;
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  background-image: linear-gradient(125deg,#00a56a,#0078a5);
}

.bannermessage{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
}

.banner{
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}
