@charset "UTF-8";

* {
  box-sizing: border-box;

}

body {
  color: #fff;
  margin: 0;
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  min-height: 100vh;
  background-color: 191919;
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */

}

li {
	list-style-type:none;		/*リストマーカー無しにする*/
}

.center{
text-align: center;
}

.inline {
  display: inline;
 }

	header{ top:0; z-index:100; }
	#slide{ margin:0 auto; }
	.swiper-container{ witdh:100%; }
	.swiper-slide-next,.swiper-slide-prev{ opacity: 0.2; }
	
