@charset "UTF-8";

* {
  box-sizing: border-box;

}

body {
  color: #fff;
  margin: 0;
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  min-height: 100vh;
  background-color: 191919;
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */

}

.center{
text-align: center;
}

.inline {
  display: inline;
 }

.carousel-wrapper {
  position: relative;
}
.carousel {
  height: 540px;
  margin-bottom: 3em;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}
.item__blue {
  background: rgb(68 174 255);
}
.item__red {
  background: rgb(248 82 1);
}
.item__yellow {
  background: rgb(255 213 27);
  color: #585858;
}
