@charset "UTF-8";

* {
  box-sizing: border-box;
  list-style-type:none;
}

body {
  color: #333;
  margin: 0;
  font-family: "Noto Sans JP";
  min-height: 100vh;
  background: #fff;
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

.center {
text-align: center;
}

.right {
margin-left: auto;
}

.left {
margin-right: auto;
}

.fadeinsection {
	overflow : hidden;
	padding-bottom : 3em;
	}

/* 画面外にいる状態 */
.fadein {
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
	margin : 2%;
	padding : 0.5em;
	text-align : center;
	box-sizing : border-box;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;	
	background-color: #F2F2F2;
	border-radius: 30px;
	opacity : 0;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}
/* 2つ目の要素に200msのdelayをかける */
#effect2 > div .fadein:nth-of-type(2) {
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
	}
/* 3つ目の要素に400msのdelayをかける */
#effect2 > div .fadein:nth-of-type(3) {
	-moz-transition-delay:400ms;
	-webkit-transition-delay:400ms;
	-o-transition-delay:400ms;
	-ms-transition-delay:400ms;
	}

.kiyaku {
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
}

.kiyaku h4 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.kiyaku h1 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.kiyaku h2 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.kiyaku h3 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.header {
  background-color: #fff;
  height: 66px;
  width: 100%;
  padding: 0px 15px;
  border-bottom: 5px solid;
  border-top: 5px solid;
  border-image: linear-gradient(125deg,#00a56a,#0078a5);
  border-image-slice: 1;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 25px;
}

.header nav {
  margin: 0 0 0 auto;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header a {
  color: #333;
  text-decoration: none;
  display: block;
  line-height: 56px;
  padding: 0 20px;
}

.sm {
  display: none;
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background: #333;
    border-radius: 8px;
    transition: 1s;
  }

  .icon span:nth-of-type(1) {
    top: 18px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 18px;
  }

  .close span:nth-of-type(1) {
    top: 20px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
  }

  .close span:nth-of-type(2) {
    transform: rotate(-100deg);
    opacity: 0;
  }
  
  .close span:nth-of-type(3) {
    top: 31px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
  }

  .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-image: linear-gradient(125deg,#00a56a,#0078a5);
  }

  ul {
    flex-direction: column;
  }

  a {
    text-align: center; 
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
}

/* 一回転を行うクラス */
.turn{
    /* transition効果の設定 */
    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
 
    /* 360度回転 */
    transform: rotateZ(360deg);
    -moz-transition:rotateZ(360deg);
    -webkit-transform:rotateZ(360deg);
}

/* 十回転を行うクラス */
.turn10{
    /* transition効果の設定 */
    transition: all 20s linear;
    -moz-transition: all 20s linear;
    -webkit-transition: all 20s linear;
 
    /* 360度回転 */
    transform: rotateZ(3600deg);
    -moz-transition:rotateZ(3600deg);
    -webkit-transform:rotateZ(3600deg);
}

/* 五回転を行うクラス */
.turn5{
    /* transition効果の設定 */
    transition: all 10s linear;
    -moz-transition: all 10s linear;
    -webkit-transition: all 10s linear;
 
    /* 360度回転 */
    transform: rotateZ(1800deg);
    -moz-transition:rotateZ(1800deg);
    -webkit-transform:rotateZ(1800deg);
}

/* 斜めに表示するクラス（1度） */
.tilt{
    transform: rotateZ(1deg);
    -moz-transition:rotateZ(1deg);
    -webkit-transform:rotateZ(1deg);
}

/* 斜めに表示するクラス（1度） */
.tilt5{
    transform: rotateZ(45deg);
    -moz-transition:rotateZ(45deg);
    -webkit-transform:rotateZ(45deg);
}

/* 斜めに表示するクラス（1度） */
.tilt10{
    transform: rotateZ(90deg);
    -moz-transition:rotateZ(90deg);
    -webkit-transform:rotateZ(90deg);
}

sen {
   border-width: 1px 0px 0px 0px; /* 太さ1px */
   border-style: dashed; /* 線種を破線に */
   border-color: gray;   /* 線色を灰色に */
   height: 1px;         /* 高さ(※古いIE用) */
}

dl{

  padding:10px;
  width:100%;
}

dt{
  color:#028aff;
  font-weight:bold;
  padding:0 10px 0 0;
  width:120px;
  float:left;
  margin-bottom:7px;
}

dd{
  color:#333;
  margin-bottom:7px;

}

dl::after {
    content: '';
    display: block;
    clear: both;
}

.side-menu{
  position: fixed;
  top: 50%;
  right: -200px;
  width: 200px;
  background-color: #f1f1f1aa;
  transition: .4s linear;
}

.side-menu.active{
  right: 0;
}

.side-menu a{
  display: block;
  padding: 10px 10px;
  color: #333;
  font-size: 20px;
  transition: .4s linear;
}

.side-menu a i{
  width: 40px;
  height: 20px;
  font-size: 24px;
  text-align: center;
}

.side-menu a:hover{
  background-color: #333;
  color: #f1f1f1;
}

.toggle-btn{
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 60px;
  background: #333;
  color: #f1f1f1;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.tsm {
display: none;
}




.about{

font-size: 30px;

}

/* container */
.wrapper{
    width:100%;

}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
    padding:50px;
}
.wrapper .text .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #333;

}


.wrapper .text .heading2{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #333;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: #151515;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

.wrapper .text .heading2:hover{
    background: #0066DB;
}
.wrapper .text .heading2:hover{
    background: #0066DB;
}



.box input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;;
    padding: 14px 40px;
    outline: none;
    color: #151515;
    border-radius: 24px;
    transition: 1.00s;
    cursor: pointer;
}
 

.box input :hover{
    background: #2ecc71;



}



.heading3{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: 333;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

.heading3:hover{
    background: #0066DB;
}

.heading4{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #333;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: #151515;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

.wrapper .text .heading2:hover{
    background: #0066DB;
}

.copyright{

font-size: 30px;
font-family: "Meiryo UI";

}

.pglinux {
font-size: 40px;
font-family: "Meiryo UI";	
}




.link {


    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: #151515;
    border-radius: 10px;
    transition: 0.75s;
    cursor: pointer;
	
}


.link:hover{
    background: #0066DB;
}

.download {

        
    width: 80%;
    height: 80%;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: #333;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
	
}


.download:hover{
    background: #0066DB;
}

.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

/* ここからがニュース記事のCSS */

.news_list {
  margin: 0 5%;
}

.news_list u {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}

.news_list_item:first-child {
  border-top: 1px solid #E6E6E6;
}
.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item_1 {
  background: #0080FF;
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.news_item_2 {
  background: #DF0101;
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow::after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}


@media screen and (max-width: 1024px) {
    .news_list_item a {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .news_list_item a  {
        font-size: 14px;
    }


}
@media screen and (max-width: 480px) {
    .arrow {
        display: none;
    }
    .news_list_item a {
        padding-right: 0;
    }
}

.acd-check{
    display: none;
}
.acd-label{
    background: #0068b7;
    color: #333;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
    position: relative;
}
.acd-label:after{
    background: #00479d;
    box-sizing: border-box;
    content: '＋';
    display: block;
    font-family: "Noto Sans JP";
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0px;
}
.acd-content{
    display: block;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: 1s;
    visibility: hidden;
}
.acd-check:checked + .acd-label:after{
    content: '－';
}
.acd-check:checked + .acd-label + .acd-content{
    height: 50px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

.midasi {
  position: relative;
  padding: 1rem .5rem;
}

.midasi:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/*見出し設定*/
.h1{
text-align: center;
animation-name:fadeInAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity:0;
/*要素の配置*/
position:absolute;
/*要素を天地中央寄せ*/
top: 100px;
left: 50%;
transform: translateY(-50%) translateX(-50%);
/*見た目の調整*/
color:#fff;
text-shadow: 0 0 15px #666;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#container{
  background:#fff;
  padding:300px 0;
  text-align: center;
}

/*ニュース1行の周りの余白*/
.slider a{
    display: block;
    background:#fff;
    padding:20px;
}

/*日付*/
.slider span {
    display:inline-block;
    font-size:0.8rem;
    margin-right:10px;
    color:#777;
}

/*768px以下の見た目 ※1行のままにしたい場合は不要　*/
@media screen and (max-width:768px) {
    .slider {
        padding:20px;
        background:#fff;
    }

    .slider li {
        border-bottom:1px dashed #ccc;
    }

    .slider li:last-child {
        border-bottom:none;
    }
    .slider span {
        display:block;
		padding-bottom:10px;
    }
}
