@charset "UTF-8";

* {
  box-sizing: border-box;

}

body {
  color: #fff;
  margin: 0;
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg,#005078,#00785D);
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */

}



.cp_ipcheck {
  padding: 20px 0;
  width: 200px;
  text-align: left;
  position: relative;
}
.cp_ipcheck input {
	display: none;
}
.cp_ipcheck label {
	position: relative;
	display: block;

	padding-right: 30px;
	cursor: pointer;
  font-size: 1rem;
}
.cp_ipcheck input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.cp_ipcheck input[type='checkbox'] + label:before,
.cp_ipcheck input[type='checkbox'] + label:after {
	position: absolute;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7px;
	content: '';
padding: 8px 0 0 6px;
}
.cp_ipcheck input[type='checkbox'] + label:before {
	right: 0;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e3e1;
	border-radius: 30px;
	background: #ffffff;
}
.cp_ipcheck input[type='checkbox'] + label:after {
	right: 29px;
	width: 30px;
	height: 30px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #bdbdbd;
}
.cp_ipcheck input[type='checkbox']:checked + label:after {
	right: 0;
	background: #00b111;
  content: "";
  font-family:"Font Awesome 5 Free";
  padding: 6px 0 0 8px;
  color: #ffff00;
}

.kiyaku {
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
}

.kiyaku h4 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.kiyaku h1 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.kiyaku h2 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

.kiyaku h3 {
  display: inline-block;
  text-align: left;
  font-weight:lighter;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-image: linear-gradient(125deg,#00a56a,#0078a5);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 25px;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

.sm {
  display: none;
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 1s;
  }

  .icon span:nth-of-type(1) {
    top: 28px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 28px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;
  }

  a {
    text-align: center; 
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
}






dl{

  padding:10px;
  width:100%;
}

dt{
  color:#028aff;
  font-weight:bold;
  padding:0 10px 0 0;
  width:120px;
  float:left;
  margin-bottom:7px;
}

dd{
  color:#fff;
  margin-bottom:7px;

}

dl::after {
    content: '';
    display: block;
    clear: both;
}

.side-menu{
  position: fixed;
  top: 50%;
  right: -200px;
  width: 200px;
  background-color: #f1f1f1aa;
  transition: .4s linear;
}

.side-menu.active{
  right: 0;
}

.side-menu a{
  display: block;
  padding: 10px 10px;
  color: #333;
  font-size: 20px;
  transition: .4s linear;
}

.side-menu a i{
  width: 40px;
  height: 20px;
  font-size: 24px;
  text-align: center;
}

.side-menu a:hover{
  background-color: #333;
  color: #f1f1f1;
}

.toggle-btn{
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 60px;
  background: #333;
  color: #f1f1f1;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}



.about{

font-size: 30px;

}







/* container */
.wrapper{
    width:100%;

}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
    padding:50px;
}
.wrapper .text .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;

}


.wrapper .text .heading2{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;


    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

.wrapper .text .heading2:hover{
    background: #0066DB;
}
.wrapper .text .heading2:hover{
    background: #0066DB;
}



.box input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 1.00s;
    cursor: pointer;
}
 

.box input :hover{
    background: #2ecc71;



}






.copyright{

font-size: 30px;
font-family: "Meiryo UI";

}

.pglinux {
font-size: 40px;
font-family: "Meiryo UI";	
}




.link {


    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.75s;
    cursor: pointer;
	
}


.link:hover{
    background: #0066DB;
}

.download {

        
    width: 80%;
    height: 80%;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
	
}


.download:hover{
    background: #0066DB;
}

.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

/* ここからがニュース記事のCSS */

.news_list {
  margin: 0 5%;
}

.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}

.news_list_item:first-child {
  border-top: 1px solid #E6E6E6;
}
.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item_1 {
  background: #0080FF;
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.news_item_2 {
  background: #DF0101;
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow::after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}


@media screen and (max-width: 1024px) {
    .news_list_item a {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .news_list_item a  {
        font-size: 14px;
    }


}
@media screen and (max-width: 480px) {
    .arrow {
        display: none;
    }
    .news_list_item a {
        padding-right: 0;
    }
}
